<div class="main" fxLayout="row">
  <div fxFlex="50" fxLayout="column">
    <div fxFlex="30" fxLayout="row wrap">
      <div class="mat-h1" fxFlex="100">
        Choose data and template
      </div>
      <div fxFlex="30">
        <mat-select [(value)]="selected_data" (valueChange)="set_data()">
          <mat-option *ngFor="let selected of data; let i = index;" [value]="i">Data: {{i}}</mat-option>
        </mat-select>
        <mat-select [(value)]="selected_document">
          <mat-option *ngFor="let selected of documents; let i = index;" [value]="i">Document: {{i}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div fxFlex="70">
      <div class="mat-h1">
        Data to render
      </div>
      <div>
        <div class="mat-h2">Template:</div>
        <div>{{ documents[selected_document] | json }}</div>
      </div>
      <div>
        <div class="mat-h2">Data:</div>
        <div>{{ get_data()| json }}</div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="mat-h1">
      Rendered data
    </div>
    <app-markdown [raw]="documents[selected_document]"></app-markdown>
  </div>
</div>
